body {
  padding-top: 50px;
  background: #bac4c5;
  font-family: 'Varela Round', sans-serif;
  min-width: -webkit-min-content; }

li {
  list-style-type: none; }
  li span {
    padding-right: 10px; }

#app {
  border-left: 2px solid #a6b4b5;
  border-right: 2px solid #a6b4b5; }

.navbar-inverse {
  background: #647678;
  border-color: #4d5b5c; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #D5FBFF; }

.navbar-inverse .navbar-brand {
  padding: 12px 15px;
  white-space: nowrap; }
  .navbar-inverse .navbar-brand .glyphicon {
    font-size: 1.2em;
    margin-right: 5px; }
  .navbar-inverse .navbar-brand > span {
    display: inline-block;
    vertical-align: middle; }

.navbar-inverse .navbar-nav > .active > a {
  box-shadow: inset 0 0 10px #414d4e;
  background: #58686a;
  color: white; }
  .navbar-inverse .navbar-nav > .active > a:hover {
    background: #4d5b5c;
    box-shadow: inset 0 0 10px #363f40;
    color: #fff; }

#map-canvas {
  height: calc(100vh - 50px);
  border-right: 2px solid #a6b4b5;
  border-bottom: 2px solid #a6b4b5;
  border-left: 2px solid #a6b4b5;
  width: 100%; }

@media (min-width: 768px) {
  #map-canvas {
    border-bottom: none;
    border-left: none; }
  .map-container {
    padding: 0; }
    .map-container > div {
      position: fixed;
      width: inherit; } }

#control-panel {
  padding: 0;
  box-sizing: border-box; }
  #control-panel > div {
    margin: 20px 0;
    min-width: -webkit-min-content; }

select {
  width: calc(100% - 25px);
  -webkit-appearance: menulist-button; }

.btn-primary {
  background: #6ff1ff;
  border-color: #65f0ff; }
  .btn-primary:hover {
    background: #3cecff;
    border-color: #32ebff; }

h4 {
  color: #2F3738;
  margin-top: 0; }

h3 {
  color: #58686a;
  text-align: center;
  margin-top: 0; }

.btn-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 42%; }

.day-btn {
  border-width: 2px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  background: transparent;
  border-color: #D5FBFF;
  color: #D5FBFF; }
  .day-btn:hover {
    border-color: #fff;
    color: #fff; }
  .day-btn.current-day {
    background: #D5FBFF;
    color: #647678; }
    .day-btn.current-day:hover {
      background: #fff; }

#addDay {
  border-width: 2px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  background: transparent;
  border-color: #D5FBFF;
  color: #D5FBFF; }

.panel-default {
  background: #f4f6f6;
  border-radius: 8px;
  border-width: 0;
  margin-bottom: 0; }
  .panel-default .panel-heading {
    background: #647678;
    border-radius: 8px 8px 0 0; }
  .panel-default .panel-body {
    padding: 5px 15px; }
    .panel-default .panel-body > div {
      margin-top: 20px;
      margin-bottom: 20px; }

.itinerary-item {
  margin: 8px 0; }
  .itinerary-item > * {
    display: inline-block;
    vertical-align: middle; }
  .itinerary-item > .title {
    width: calc(100% - 24px); }
  .itinerary-item > .remove {
    width: 20px; }

#day-title {
  display: inline-block;
  padding: 5px;
  border: 1px solid #647678;
  border-radius: 5px; }
  #day-title > * {
    display: inline-block;
    vertical-align: middle; }
  #day-title > .remove {
    margin-left: 1em; }
